@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

.footer {
  width: 100%;
  align-self: flex-end;
  background-color: #333;
  color: #ccc;
  text-align: center;
  font-family: "Inter", sans-serif;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0;
  transition: margin-left 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer.shifted {
  margin-left: 250px;
  width: calc(100% - 250px);
}

.footer-text {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

.short-text {
  display: none;
}

@media screen and (max-width: 768px) {
  .full-text {
    display: none;
  }

  .short-text {
    display: inline;
  }
}

