.sidebar {
  width: 250px;
  height: calc(100vh - 74.55px);
  background-color: #f4f4f9;
  color: #333;
  position: fixed;
  top: 74.55px;
  left: 0;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
  transform: translateX(0); /* Show sidebar by default */
}

/* Hide the sidebar when it has the 'collapsed' class */
.sidebar.collapsed {
  transform: translateX(-100%);
}

.sidebar h2 {
  font-size: 1.5em;
  margin-bottom: 20px;
  text-align: center;
  border-bottom: 1px solid #555;
  padding-bottom: 10px;
}

.menu-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu-item-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.active-item {
  background-color: #c3e6cb;
  color: #155724;
}

.menu-item-wrap-new {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(40, 167, 69, 0.2);
  margin-bottom: 5px;
}

.sidebar li {
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
}

.sidebar li:hover {
  background-color: #cacbcc;
}

.sidebar a {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sidebar a:hover {
  cursor: inherit;
}

.icon-wrap {
  padding: 6px 7px 0 7px;
  border-radius: 7px;
}

.icon-wrap:hover {
  background-color: #eee;
}

/* Sidebar toggle button */
.sidebar-toggle {
  display: none;
  position: fixed;
  top: 80px;
  left: 10px;
  z-index: 1001;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  transition: left 0.3s ease-in-out;
}

/* Responsive behavior */
@media (max-width: 1199px) {
  .sidebar {
    transform: translateX(0); /* Hide sidebar by default on small screens */
  }

  .sidebar.collapsed {
    transform: translateX(-100%); /* Show sidebar when 'collapsed' class is removed on small screens */
  }

  .sidebar-toggle {
    display: block;
  }

  /* Adjust the toggle button position when sidebar is visible on small screens */
  .sidebar:not(.collapsed) + .sidebar-toggle {
    left: 260px;
  }
}
